body {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 193, 186);
    font-family: 'inter' ;
    word-spacing: .4em;
    position: relative;
}

#leaderboards-points {
    
    z-index: ;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5rem;
    margin-right: 3rem;
}

h3 {
    background-color: white;
    height: auto;
    padding: 1rem;
    border-radius: 25px;
}

button:not(#clearLeaderboard) {
    background-color: rgb(227, 229, 226);
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 15rem;
    border-radius: 135px;
    padding: .4rem;
    border: solid 2px rgb(49, 47, 47);
    text-align: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    
}

#clearLeaderboard {
   cursor: pointer;
}

#clearLeaderboard:active {
    transform: scale(1.1);

}

button:hover:not(#clearLeaderboard) {
    transform: scale(1.2);
    transition: all .3s;
    z-index: 2000;

}
#h2 {
    font-size: 3em;
    color: white;
        

}

#container {
    background-color: rgb(194, 199, 194);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-radius: 1.5rem;
    position: relative;
    border: solid white;
    box-shadow: -20px 30px 60px rgba(0, 0, 0, 0.4), -10px 20px 20px rgba(0, 0, 0, 0.3);
    font-style: italic;
    animation: borderAnimation 8s infinite alternate;
}

@keyframes borderAnimation {
    0% {
        border-color: #ff0000;
    }
    25% {
        border-color: #00ff00;
    }
    50% {
        border-color: #0000ff;
    }
    75% {
        border-color: #ffff00;
    }
    100% {
        border-color: #ff00ff;
    }
}


#cash {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5rem;
}


#boxContainer {
    border: hidden red; border-radius: 1.2rem;
   display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;


}

#progress {
    display: grid;
 margin-left: ; 
place-items: center;

}  

#progressbar {
    height: 1.5rem;
}

#questionContainer {
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    padding: 2rem;
    font-weight: 700;
    font-size: 1.7em;

}

#nextQuestionBtnContainer {
    display: flex;
    justify-content: center;
}


#answerBoxA, #answerBoxC {
    margin-left: auto;
}


progress:hover {
    cursor: grab;
}

#questionContainer:hover {
    cursor: default;

}

button:hover {
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgb(215, 214, 214);
    transition:  .3s;
}

