body {
    height: 95vh;
    display: grid;
    place-items: center;
    background-color: rgb(194, 193, 186);
    font-family: 'inter' ;
    word-spacing: .4em;
}

button {
    background-color: rgb(227, 229, 226);
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 5rem;
    border-radius: 1.2rem;
    padding: .4rem;
    border: solid 2px rgb(49, 47, 47);
    text-align: center;
}

button:hover {
    transform: scale(1.2);
    transition: all .3s;
    width: 30%;
    z-index: 2000;

}
#h2 {
    font-size: 3em;
    color: white;
        

}

#container {
    background-color: rgb(194, 199, 194);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:50%;
    border-radius: 1.5rem;
    position: relative;
    border: solid white;
    box-shadow: -20px 30px 60px rgba(0, 0, 0, 0.4), -10px 20px 20px rgba(0, 0, 0, 0.3);

}

#cash {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5rem;
}


#boxContainer {
    border: hidden red; border-radius: 1.2rem;
   display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: .3rem;
    margin-top: 2rem;
    padding-bottom: 2rem;


}

#progress {
    display: grid;
 margin-left: auto f; 
place-items: center;}  

#questionContainer {
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    padding: 2rem;
    font-weight: 700;
    font-size: 1.7em;

}

#nextQuestionBtnContainer {
    display: flex;
    justify-content: center;
}

#answerBoxA:hover,
#answerBoxC:hover {



}

#answerBoxA, #answerBoxC {
    margin-left: auto;
}